* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

.perfil{
    display: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.nosso_conteudo {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.frase {
    color: rgb(0, 0, 0);
    font-size: larger;

}

.item1 {
    grid-area: psc1;
}

.item2 {
    grid-area: psc2;
}

.item3 {
    grid-area: psc3;
}

.item4 {
    grid-area: psc4;
}

.item5 {
    grid-area: psc5;
}

.item6 {
    grid-area: psc6;
}

.item7 {
    grid-area: psc7;
}

.item8 {
    grid-area: psc8;
}

.border {
    border-radius: 10px;
    background-image: linear-gradient(#BA68C8, #d861ed,rgb(171, 90, 247));
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 0.5s;
    
}

.border:hover {
    margin-top: -10px;
    box-shadow: 10px 10px 10px rgb(76, 76, 76);

}
#setinha{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#setinha p{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


button {
    background-color: rgb(255, 255, 255);
    color: #BA68C8;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    padding: 5px;
}

h3 {
font-size: 30px; 
   color: rgb(255, 255, 255);
}

.alinhar {
    display: flex;
    align-items: end;
    justify-content: end;
}

.grid {
    display: grid;
    grid-template-areas: "psc1 psc2 psc3 psc4"
        "psc5  psc6 psc7 psc8";
    width: 1200px;
    height: 730px;
    gap: 50px;
}

header {
    height: 150px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.foto {
    height: 210px;
    width: 200px;
    background-color: brown;
    border-radius: 10px;
    border-radius: 100%;
}
.foto img{
    border-radius: 100%;
}

img {
    height: 210px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;   
}

ul {
    color: rgb(0, 0, 0);
    font-size: large;
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    list-style: none;

}

li {
    padding-top: 12px;
    margin: 25px;
    font-weight: bolder;
    padding-bottom: 16px;
    height: 20px;
    transition: all 0.3s ease-in-out
}

.li {
    font-size: 20px;
    padding-top: 12px;

}

.li:hover {
    color: rgb(171, 90, 247);
    cursor: pointer;

}


::selection {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.4s;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}

.purple {
    color: #BA68C8;
    font-size: 45px;
}


#join:hover {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: solid #BA68C8 2px;
    border-radius: 10px;
    transition: all 0.3ms;
}

#join {
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}


#logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    width: 200px;
    margin-right: 500px;
}


#vetor {
    border: none;
    width: 500px;
    height: 500px;
    margin-top: -70px;
    margin-bottom: 50px;
}

#t2 {
    margin-top: 50px;
    color: rgb(0, 0, 0);
}


/* NOVA GRID */

.vamo {
    display: grid;
    grid-template-areas: "titulo imaginha"
        "resumo resumo";
    width: 100%;
    height: 500px;
    align-items: center;
}

.resumo {
    grid-area: resumo;
    width: 800px;
    height: 100px;
    font-size: larger;
    margin-top: -390px;
    color: rgb(0, 0, 0);
    margin-left: 20px;

}

.imaginha {
    grid-area: imaginha;
    width: 100px;
    height: 100px;
    margin-top: -150px;

}

.titulo {
    grid-area: titulo;
    width: 490px;
    height: 100px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

#tema {
    margin: 0;
    width: 10px;
    height: 10px;
    z-index: 0;
    display: none;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: rgb(0, 0, 0);
    z-index: 2;
    cursor: pointer;
    transition: all 1s;
}

.material-symbols-outlined:hover {
    color: #BA68C8;
}

#menu-responsive2 {
    display: none;
}

#menu-responsive {
    display: none;
}

#span {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.li9 {
    width: 120px;
    margin-right: 0px;
}

#space {
    width: 500px;
    height: 100px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top: -200px;
    margin-bottom: 100px;
    display: none;
    box-shadow: 5px 5px 5px #BA68C8;
    transition: all 0.5s;
}

#space h2 {
    margin-left: 100px;
    padding-top: 10px;
}

#space2 {
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin-left: 210px;
    margin-top: 10px;
    color: #BA68C8;
    font-weight: bolder;
}

#space3 {
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    height: 21px;
    margin-top: -70px;
    margin-left: 5px;
}

#space4 {
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    height: 21px;
    margin-top: -43px;
    margin-left: 5px;
}

#check:hover{
    color: rgb(0, 0, 0);
}

#check {
    margin-left: 470px;
    margin-top: -5px;
    display: none;
    color: black;
}
/* TEMA CLARO */
/* ______________________________________________________________________________ */

.white,
.white header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.white a {
    color: rgb(255, 255, 255);
}

.white #psico {
    color: rgb(255, 255, 255);
}

.white #grid>div {
    background-color: #000000;
}

.white #t2 {
    color: #ffffff;
}

.white button{
    background-color: white;
}

.white h3{
    color: white
}


.white #t1,
p {
    color: #ffffff;
}


.white .material-symbols-outlined {
    color: #ffffff;
}

.white a:hover {
    color: #9250A8;
    transition: all 1s;
    font-size: x-large;
}
.white #setinha p{
    color: rgb(255, 255, 255) ;
}