@media only screen and (min-width:2560px) {
    html {
        height: 3000px;
    }
    .li9{
        width: 300px;
    }
    #sun {
        font-size: 70px;}
ul{
    width: 100%;
}

#psico{
    font-size: 100px;
}
    main {
        height: 2500px;
    }

    .vamo {
        width: 2500px;
        height: 900px;
    }

    #vetor {
        width: 700px;
        height: 700px;
    }

    h1 {
        font-size: 90px;
        width: 700px;
        margin-left: 20px;
    }

    p {
        font-size: 45px;
        width: 1700px;
        margin-left: 20px;
    }

    .item1 {
        height: 700px;
        width: 500px;
    }

    .item2 {
        height: 700px;
        width: 500px;
    }

    .item3 {
        height: 700px;
        width: 500px;
    }

    .item4 {
        height: 700px;
        width: 500px;
    }

    .item5 {
        height: 700px;
        width: 500px;
    }

    .item6 {
        height: 700px;
        width: 500px;
    }

    .item7 {
        height: 700px;
        width: 500px;
    }

    .item8 {
        height: 700px;
        width: 500px;
    }

    .item1 {
        height: 700px;
        width: 500px;
    }

    .grid {
        width: 0px;
    }

    .nosso_conteudo {
        width: 450px;
    }

    button {
        padding: 20px;
        font-size: 45px;

    }

    img {
        height: 300px;
        width: 300px;
        margin-left: -50px;
    }

    h3 {
        margin-top: 30px;
        font-size: 50px;
    }

    a {
        font-size: 55px;
    }

    #join {
        height: 56px;
    }

    .purple {
        font-size: 80px;
    }

    ul {
        justify-content: space-between;
    }

}

@media only screen and (max-width:1440px) {ul{
    width: 100%;
}
.grid{
    margin-right: -80px;
}}

@media only screen and (max-width:1024px) {

    body {
        width: 1400px;
    }
    ul{
        width: 100%;
    }

    #sun {
        font-size: 30px;}
    .grid{
     margin-right: -110px;
    }
}




@media only screen and (max-width:600px) {

    #sun {
        font-size: 80px;
        margin-left: 30px;
    }


    .li {
        margin-bottom: 70px;
        margin-left: 30px;
    }

    a{
        margin-left: 0px;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        display: block;
    }

    .li9 {
        width:370px;
        margin-right: -5px;
    }

    #span {
        top: 30px;
        left: -510px;
        height: 580px;
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        background-color: #BA68C8;
        cursor: pointer;
    }

    #menu-responsive:hover~#span {
        left: 830px;
        top: 190px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        display: flex;
    }

    #menu-responsive2 {
        margin-left: 840px;
        display: flex;
        font-size: 90px;
    }

    #menu-responsive {
        display: flex;
    }


    html {
        height: 1700px;
        width: 1100px;
    }

    

    body {
        width: 1220px;
    }

    #psico{
        font-size: 120px;
        margin-left: -60px;
    }

    .vamo {
        display: grid;
        align-items: center;
        justify-content: start;
    }

    .grid {
        display: grid;
        grid-template-areas:
            "psc1"
            "psc2"
            "psc3"
            "psc4"
            "psc5"
            "psc6"
            "psc7"
            "psc8";
        width: 100px;
    }

    button {
        padding: 40px;
        font-size: 40px;
font-weight: bold ;
margin-top: -1px;
margin-bottom: 10px;
border: none;
    }

    .nosso_conteudo {
        width: 950px;
    }


    img {
        width: 400px;
        height: 400px;
        margin-left: -100px;
    }

    .item1 {
        height: 700px;
        width: 600px;
        margin-left: -100px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item2 {
        height: 700px;
        width: 600px;
        margin-left: -100px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item3 {
        height: 700px;
        width: 600px;
        margin-left: -100px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item4 {
        height: 700px;
        margin-left: -100px;
        justify-content: flex-end;
        flex-direction: column-reverse;
        width: 600px;
    }

    .item5 {
        height: 700px;
        width: 600px;
        margin-left: -100px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item6 {
        height: 700px;
        margin-left: -100px;
        width: 600px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item7 {
        height: 700px;
        margin-left: -100px;
        width: 600px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .item8 {
        height: 700px;
        margin-left: -100px;
        width: 600px;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 50px;
    }

    #join {
        height: 65px;
    }

    #logo {
        position: absolute;
        top: 150px;
        left: 400px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 190px;
    }

    h1 {
        font-size: 100px;
        width: 800px;
        margin-left: 250px;
    }

    #vetor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -300px;

    }

    p {
        font-size: 50px;
        width: 1110px;
        margin-top: -50px;
        margin-left: 80px;
    }

    .resumo {
        margin-top: 100px;
    }

    .titulo {
        margin-top: 800px;
    }

    .nosso_conteudo {
        margin-right: 500px;
        margin-top: 700px;
        margin-right: 120px;
    }

    .purple {
        font-size: 100px;
    }

    ul {
        padding: 0;
    }

    a {
        font-size: 60px;
    }

}