* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: black;
}

.nosso_conteudo {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.frase {
    color: white;
    font-size: larger;

}

.item1 {
    grid-area: psc1;
}

.item2 {
    grid-area: psc2;
}

.item3 {
    grid-area: psc3;
}

.item4 {
    grid-area: psc4;
}

.item5 {
    grid-area: psc5;
}

.item6 {
    grid-area: psc6;
}

.item7 {
    grid-area: psc7;
}

.item8 {
    grid-area: psc8;
}

.border {
    border-radius: 10px;
    background-color: #BA68C8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

button {
    background-color: white;
    color: #BA68C8;
    border-radius: 10px;
    padding: 10px;
    border: solid 3px #BA68C8;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    padding: 5px;
}

h3 {

    color: white;
}

.alinhar {
    display: flex;
    align-items: end;
    justify-content: end;
}

.grid {
    display: grid;
    grid-template-areas: "psc1 psc2 psc3 psc4"
        "psc5  psc6 psc7 psc8";
    width: 1200px;
    height: 730px;
    gap: 50px;
}

header {
    height: 150px;
    width: 100%;
    background-color: aliceblue;
}

.foto {
    height: 210px;
    width: 200px;
    background-color: brown;
    border-radius: 10px;
}

img {
    height: 210px;
    width: 200px;
    margin-bottom: 20px;
    border: solid 3px white;
    border-radius: 10px;
}

ul {
    color: white;
    font-size: large;
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    list-style: none;

}

li {
    padding-top: 12px;
    margin: 25px;
    font-weight: bolder;
    padding-bottom: 16px;
    height: 20px;
    transition: all 0.3s ease-in-out
}

.li {
    font-size: 20px;
    padding-top: 12px;

}

.li:hover {
    color: rgb(171, 90, 247);
    cursor: pointer;

}


::selection {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

a:hover {
    color: #BA68C8;
}


header {
    height: 100px;
    width: 100%;
    background-color: rgb(2, 2, 2);
    margin-bottom: 90px;
}

.purple {
    color: #BA68C8;
    font-size: 45px;
}


#join:hover {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: solid #BA68C8 2px;
    border-radius: 10px;
    transition: all 0.3ms;
}

#join {
    border: solid white 2px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}


#logo {
    color: white;
    font-size: 35px;
    width: 200px;
    margin-right: 500px;
}


#vetor {
    border: none;
    width: 500px;
    height: 500px;
    margin-top: -70px;
    margin-bottom: 50px;
}

#t2{
    color: white;
}


/* NOVA GRID */

.vamo {
    display: grid;
    grid-template-areas: "titulo titulo imaginha"
        "resumo resumo resumo";
    width: 1200px;
    height: 600px;
    align-items: center;
    margin-left: 0px;
}

.resumo {
    grid-area: resumo;
    width: 800px;
    height: 100px;
    font-size: larger;
    margin-top: -390px;
    color: white;
    margin-left: 20px;

}

.imaginha {
    grid-area: imaginha;
    width: 100px;
    height: 100px;
    margin-top: -150px;

}

.titulo {
    grid-area: titulo;
    width: 490px;
    height: 100px;
    font-size: xx-large;
    color: white;
    margin-left: 20px;
}

#tema{
    margin: 0;
  width: 10px;
  height: 10px;
z-index: 0; 
display: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
  z-index: 2;
cursor: pointer;
transition: all 1s;
}

.material-symbols-outlined:hover{
    color: #BA68C8;
} 

#menu-responsive2{
    display: none;
}
#menu-responsive{
    display: none;
}
#span{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.li9{
    width: 100px;
    margin-right: 0px;
}


/* ______________________________________________________________________________ */

.white,
.white header{
    background-color: rgb(255, 255, 255);
    color: black;
}

.white a{
    color: black;
}
.white #psico{
    color: black;
}

.white #grid>div{
    background-color: #ffffff;
}

.white #t2{
    color: #000000;

}

.white #t1, p {
    color: #000000;
}


.white .material-symbols-outlined{
    color: #000000;
} 

.white a:hover{
    color: #BA68C8;
}
